<h1>Profile</h1>
<div class="create-agent-form">
  <%= form_with(url: agent_path(user.id), local: true, method: "put") do |f| %>
    <div class="field">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control", value: user.name %>
    </div>

    <div class="field">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, class: "form-control", value: user.last_name %>
    </div>

    <div class="field">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", value: user.email %>
    </div>

    <div class="field">
      <%= f.label :phone, class: "form-label" %>
      <%= f.text_field :phone, class: "form-control", value: user.agent.phone %>
    </div>

    <div class="row">
      <div class="col">
        <%= f.label :state, class: "form-label" %>
        <%= f.select 'state', options_for_select(@states, user.agent.state), {prompt: 'Select Option'}, class: "form-control", id: 'states' %>
      </div>

      <div class="col">
        <%= f.label :city, class: "form-label" %>        
        <%= f.select 'city', options_for_select(@cities, user.agent.city), {prompt: 'Select Option'}, class: "form-control", id: 'cities' %>
      </div>
      <!-- Replace the array with the actual cities you want to include in the dropdown -->
    </div>

    <div class="row">
      <div class="col">
        <%= f.label :address_home, class: "form-label" %>
        <%= f.text_field :address_home, class: "form-control", value: user.agent.address_home %>
      </div>

      <div class="col">
        <%= f.label :zip_code, class: "form-label" %>
        <%= f.number_field :zip_code, class: "form-control", value: user.agent.zip_code %>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <%= f.label :licence, class: "form-label" %>
        <%= f.text_field :licence, class: "form-control", value: user.agent.licence %>
      </div>

      <div class="col">
        <%= f.label :split, class: "form-label" %>
        <%= f.text_field :split, class: "form-control", value: user.agent.split %>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit "Update Profile", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    const states = document.getElementById('states')
    const cities = document.getElementById('cities')
    states.addEventListener('change', () => {
      const selectedState = states.value
      cities.innerHTML = '';
      console.log("selectedState" + selectedState);
      fetch("/dashboard/get_cities_by_state_and_country?state=" + selectedState + "&country=US")
        .then(response => response.json())
        .then(data => {
            console.log(data);
           data.forEach(function(city) {
              var option = document.createElement('option');
              option.value = city.id;
              option.text = city.name;
              cities.add(option);
            });
        })
    })
  }, false) 
</script>