<div class="container">
  <h2>Score</h2>
  
<hr class="hr" />
  
  <div class="filters row">
    <%= form_with(url: get_scores_path, local: true, method: "post", class: 'form') do |f| %>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :year, "Year" %>
          <%= select_tag(:year, options_for_select((2020..Date.current.year).to_a), prompt: 'Select year', class: 'form-control') %>
        </div>

        <div class="col-md-3">
          <%= f.label :month, "Month" %>
          <%= select_tag(:month, options_for_select((1..12).to_a), prompt: 'Select month', class: 'form-control') %>
        </div>

        <div class="col-md-4">
          <%= f.label :agent, "Agent" %>
          
          <%= f.select :agent, options_for_select(@agents), { prompt: 'Select Agent' }, class: 'form-control' %>
        </div>

        <div class="col-md-2">
          <%= f.submit "Filter", class: "btn btn-primary filter" %>
        </div>  
      </div>
      
    <% end %>
  </div>

  <div class="mt-4 wide-table">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Agent</th>
          <th scope="col">Total Volume</th>
          <th scope="col">Total Transactions</th>
          <th scope="col">Year</th>
          <th scope="col">Month</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        <% @users_with_scores.each_with_index do |user_with_score, index| %>
          <tr>
            <td class="col"><%= user_with_score[:user].name %></td>
            <td class="col"><%= user_with_score[:score] %></td>
            <td class="col"><%= user_with_score[:user].score&.sales_transactions.to_i %></td>
            <td class="col"><%= user_with_score[:transactions]&.first&.created_at&.year %></td>
            <td class="col"><%= user_with_score[:transactions]&.first&.created_at&.month %></td>
            <td class="col"><%= index + 1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>