<h1>Transactions</h1>
<div class="row">

<% if @transaction.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="col-md-8">
      <%= form_for @transaction, url: { action: :import }, html: { multipart: true } do |form| %>
      <!-- Existing form fields -->
        <div class="form-group import-transaction">
          <%= form.label :csv_file, 'Upload CSV File' %>
          <%= form.file_field :csv_file, class: 'form-control-file' %>
        </div>

        <div class="actions">
          <%= form.submit "Import", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4"> 
      <%= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary create-transaction-btn" %>
  </div>
</div>

<hr/>

<div class="filters row">
    <%= form_with(url: filter_transactions_path, local: true, method: "post", class: 'form') do |f| %>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :start_date, "Start date" %>
          <%= f.date_field :start_date, class: 'form-control' %>
        </div>

        <div class="col-md-3">
          <%= f.label :closing_date, "Closing date" %>
          <%= f.date_field :closing_date, class: 'form-control' %>
        </div>

        <div class="col-md-3">
          <%= f.label :year, "transaction type" %>
          <%= select_tag(:transaction_type, options_for_select(['Sale', 'Lease']), prompt: 'Select transaction type', class: 'form-control') %>
        </div>

        <div class="col-md-3">
          <%= f.label :month, "Agent name" %>
          <%= f.text_field :agent_name, class: 'form-control' %>
        </div>

        <div class="col-md-2">
          <%= f.submit "Filter", class: "btn btn-primary filter" %>
        </div>
      </div>
    <% end %>
  </div>

<div class="mt-4 wide-table">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
      <th scope="col">Date</th>
        <th scope="col">Agent 1</th>
        <th scope="col">Agent 2</th>
        <th scope="col">Agent 3</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Property Address</th>
        <th scope="col">Seller/Lessor</th>
        <th scope="col">Buyer/Lessee</th>
        <th scope="col">Agent/Client</th>
        <th scope="col">Closing Date</th>
        <th scope="col">Title Escrow Company</th>
        <th scope="col">Sale/Purchase</th>
        <th scope="col">Bank Deposit</th>
        <th scope="col">Transaction Fee Amount</th>
        <th scope="col">Commission Percentage</th>
        <th scope="col">Agent 1 Commission Percentage</th>
        <th scope="col">Agent 1 Commission Amount</th>
        <th scope="col">Agent 2 Commission Percentage</th>
        <th scope="col">Agent 2 Commission Amount</th>
        <th scope="col">Referral To</th>
        <th scope="col">Referral Amount</th>
        <th scope="col">Office Commission Percentage</th>
        <th scope="col">Office Commission Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.current_date %></td>
          <td><%= transaction.agent1_name.to_i > 0 ? User.find(transaction.agent1_name).name + " " + User.find(transaction.agent1_name).last_name :  transaction.agent1_name %></td>
          <td><%= transaction.agent2_name.to_i > 0 ? User.find(transaction.agent2_name).name + " " + User.find(transaction.agent2_name).last_name :  transaction.agent2_name %></td>
          <td><%= transaction.agent3_name.to_i > 0 ? User.find(transaction.agent3_name).name + " " + User.find(transaction.agent3_name).last_name :  transaction.agent3_name %></td>
          <td><%= transaction.type_of_transaction %></td>
          <td><%= transaction.property_address %></td>
          <td><%= transaction.seller_lessor %></td>
          <td><%= transaction.buyer_lessee %></td>
          <td><%= transaction.agent_client %></td>
          <td><%= transaction.closing_date %></td>
          <td><%= transaction.title_escrow_company %></td>
          <td>$ <%= transaction.sale_purchase %></td>
          <td>$ <%= transaction.bank_deposit %></td>
          <td>$ <%= transaction.transaction_fee_amount %></td>
          <td><%= transaction.commission_percentage %></td>
          <td><%= transaction.agent1_commission_percentage %></td>
          <td>$ <%= transaction.agent1_commission_amount %></td>
          <td>$ <%= transaction.agent2_commission_percentage %></td>
          <td>$ <%= transaction.agent2_commission_amount %></td>
          <td><%= transaction.referral_to %></td>
          <td>$ <%= transaction.referral_amount %></td>
          <td><%= transaction.office_commission_percentage %></td>
          <td><%= transaction.office_commission_amount %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

