<% if user_signed_in? %>  
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Agents', agents_path %></li>
    <li><%= link_to 'Create agent', new_agent_path %></li>    
    <li><%= link_to 'Transactions', transactions_path %></li>
    <li><%= link_to 'Score report', get_scores_path %></li>
  <% else %>
    <%= link_to 'Home', dashboard_path, class: 'navbar-brand' %>
  <% end %>
  <% if policy(:user).edit?  %>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <% end %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>  
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
